.footer {
  position: relative;
  margin: 60px 0 0;
  background: #038f67;
  display: block;
}

.footerSpaceBlank {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 7%;
  background: #fff;
  z-index: 0;
}

.footerContainer {
  width: 90%;
  background: #fff;
  position: relative;
  margin: 30px auto 0;
  border: 1px solid #e7e7e7;
  padding: 0;
}

.footerWrapInfo {
  display: flex;
  padding: 0 5% 20px;
  padding-top: 35px;
}

.footerWrap {
  display: flex;
  padding: 0 5% 20px;
}

.footerColDiv {
  width: 55%;
  padding-right: 5%;
}

.footerColTitle {
  font-size: 0.6rem;
  margin-bottom: 5px;
  display: block;
  color: #038f67;
  position: relative;
  font-weight: 900;
}

.footerDir {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerOperation {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerTel {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerLineaGratuita {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerAntiCorrupcion {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerFax {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerEmail {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerEmailNotificacion {
  display: block;
  line-height: 22px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerLogoHSS {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.footerWrapperLogoHSS {
  display: flex;
  justify-content: flex-end;
}

.footerLogo {
  width: auto;
  height: 50px;
  align-self: flex-end;
}

.footerSocialBtn {
  margin-right: 10px;
  color: #5c5c5c;
  overflow: hidden;
  width: 75%;
}

.footerBlankFix {
  padding-top: 24px;
}

.footerLastDate {
  text-align: left;
  padding: 0 0 14px;
  margin-top: 25px;
  color: #5c5c5c;
  font-size: 13px;
}

.footerContainerwGov {
  width: 100%;
  background: rgb(29, 89, 201);
  padding: 30px 0px 30px;
}

.footerContainerDefault {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.footer-wLogosGov {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
}
.footerLogoCol {
  width: 60px;
}
.separador {
  height: 66px;
  width: 1px;
  background: #fff;
}
.footerGreenSpace {
  margin: 35px;
}
