.App-form {
  text-align: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.12);
  box-sizing: inherit;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-textField {
  margin: 1px;
  display: flex;
}
.register-col1 {
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}

.register-col2 {
  margin-right: 45px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.App-row {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.App-button {
  flex-direction: row;
}
